/*-------------------------------------
 * customize material design icon sizes 
 *-------------------------------------
 */

.material-icons.md-18 {
    font-size: 18px;
}
.material-icons.md-24 {
    font-size: 24px;
}
.material-icons.md-36 {
    font-size: 36px;
}
.material-icons.md-48 {
    font-size: 48px;
}

.bookmark-icons {
    cursor: pointer;
}

.responsive {
    width: 100%;
    height: auto;
}

.rounded-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

/* Style the individual cards as needed */
.review-card {
    max-height: 350px; /* Adjust the maximum height as needed */
    overflow-y: auto;
    width: 45%; /* Adjust the width as per your design, leaving a little space for margins */
    margin: 2%; /* Add margin between cards */
}
